<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Shoe Holics</h1>

      <ul>
        <% for(let i = 0; i < shoes.length; i++) { %>

        <h3>
          The <%= shoes[i].typeOfShoe%>
          are <%= shoes[i].colorOfShoe%>
          and it comes in size: <%= shoes[i].size%> <br/>
        </h3>

        <form action="/shoes/<%=shoes[i].id%>?_method=DELETE" method="POST">
          <input type="submit" value="delete"> <br/>
        </form>

        <form action="/shoes/<%=shoes[i].id%>" method="PUT">
          <input type="submit" name="" value="View Shoes"> <br/>
        </form>

        <form action="/shoes/<%=shoes[i].id%>/edit" method="PUT">
          <input type="submit" name="" value="Edit me"> <br/>
        </form>

        <% } %>
      </ul>

      <nav>
        <a href="/shoes/create">Create a new pair of shoes</a>
      </nav>

  </body>
</html>
