<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Shoe Holics</h1>

      <ul>
        <% for(let i = 0; i < shoes.length; i++) { %>

      <li>

        The <%= shoes[i].typeOfShoe%>
        are <%= shoes[i].color%>
        and it comes in size: <%= shoes[i].size%> <br/>

        <button><a href="/shoes/<%=i%>">More info</button>

        <form action="/shoes/<%=i%>?_method=DELETE" method="POST">
          <input type="submit" value="delete">
        </form>

        <a href="/shoes/<%=i%>/edit">Edit the <%=shoes[i].typeOfShoe%></a>

      </li>

        <% } %>
      </ul>

      <nav>
        <a href="/shoes/create">Create a new pair of shoes</a>
      </nav>

  </body>
</html>
